Navbar Link {
    color: #fff;
    text-decoration: none !important;
}
a:visited {
    /* color: #fff; */
    text-decoration: none;
}
.color{
    color: #fff;
}
Link:visited .color{
    color: #fff;
    text-decoration: none;
}

.input-border {
    border-bottom: 1px solid #eee;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, .2); */
}

input, input:focus {
    border: none;
    outline: none;
    width: 100%;
}

label{
    color: #6c6c6c;
}

.btn-submit {
    float: right;
}

.btn-mt {
    margin-top: 10px;
}